@media screen and (max-width: 1420px) {
    .groot {
    display: none;
    }
    .klein {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    }   
    .btn-outline-primary{
    position:absolute;
   }
   }


   
   @media screen and (min-width: 1421px) {
    .groot {
    display:flexbox;
    }
    .klein {
    display: none;
    }
    .btn-outline-primary{
      position: fixed;
      z-index: +999;
     }
   }

   body{
    background-color:#1b1b1b;
   }

   #navigatiebar {
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
  }
  nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
    /* Change color on hover */
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
  
    /* Change color on active */
    .navbar a:active {
      background-color: rgb(92, 138, 245);
      color: black;
    }

    .project_uitleg{
        position: fixed; color: #aaa;
    }

    .vervangafbeeldingtekst{
        color: #aaa;
    }

    .btn-outline-primary{
      --bs-btn-hover-border-color: #fd0d0d;
      top: 10px;
      left: 10px;
      --bs-btn-border-color: #fd0d0d;
      --bs-btn-hover-bg: #dc3545;
    }     